.card-container {
    width: 300px;
    height: 445px;
    border-radius: 15px;
    cursor: pointer;
    perspective: 600;
    position: relative;
    margin: 15px;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    width: 100%;
}




.card .front {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.card .back {
    text-align: center;
}